@media only screen and (max-width: 1040px)
{
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        max-width: 100%;
        flex-direction: column;
        transition: all 0.7s ease-out;
        height: 400px;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }

    .rightNav{
        text-align: center;
    }
    #search{
        width: 100%;
    }

    .burger1{
        display:  block;
    }
    .h-nav-resp{
        height: 72px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .section{
        flex-direction: column-reverse;
    }
    
}

